[**@privacyshield/core**](../../README.md)

***

[@privacyshield/core](../../README.md) / [index](../README.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult** = [`ValidationSuccess`](../interfaces/ValidationSuccess.md) \| [`ValidationFailure`](../interfaces/ValidationFailure.md)

Defined in: [packages/core/src/detect/types.ts:185](https://github.com/horozbabasi/privacyshield/blob/b5e097aedd021fca70f7b2cc252a9eff1043721e/packages/core/src/detect/types.ts#L185)
