[**@discretion/core**](../../README.md)

***

[@discretion/core](../../README.md) / [index](../README.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult** = [`ValidationSuccess`](../interfaces/ValidationSuccess.md) \| [`ValidationFailure`](../interfaces/ValidationFailure.md)

Defined in: [packages/core/src/detect/types.ts:185](https://github.com/horozbabasi/privacyshield/blob/1ed43083dc5f2fa94a4eff8cba71ae6aeb5df89d/packages/core/src/detect/types.ts#L185)
